/* Responsive CSS Styles Table of Contents */

@media only screen and (min-width: 1000px) and (max-width: 1169px){
.container {
	width: 1000px;
	margin: auto;
}

.feature_section4 .content{
	width: 63%;
}


.contact-form {
	width: 100%;
}

.feature_section4 .box1 {
    width: 100%;
    float: left;
}

.feature_section4 .box2 {
    width: 100%;
    float: left;
}

.less6 {
	width: 100%;
}

}



@media only screen and (min-width: 768px) and (max-width: 999px){
.container {
	width: 747px;
	margin: auto;
}

.menu_main {
	width: 97%;
	position: absolute;
}

.top_header .right a.email {
	margin: 0px 10px;
	padding: 0px 10px;
}

.feature_section2 .circle i {
	width:54px;
	height:54px;
	line-height:45px;
	font-size:18px;
	margin:-30px auto 14px auto;
	border: 3px solid #fff;
}

.feature_section4 .content{
	width: 75%;
}

.contact-form {
	width: 100%;
}

.feature_section4 .box1 {
    width: 100%;
    float: left;
}

.feature_section4 .box2 {
    width: 100%;
    float: left;
}

.less6 {
	width: 100%;
}


}


@media only screen and (min-width: 640px) and (max-width: 767px){
/* columns */
.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth, .onecol_forty, .onecol_sixty, .onecol_thirtyfive,
.one_half_less, .one_third_less, .one_fourth_less, .two_third_less, .three_fourth_less, .one_fifth_less, .onecol_forty_less, .onecol_sixty_less, .onecol_thirtyfive_less {
	position: relative;
	margin-right: 0%;
	float: left;
}
.one_full,
.one_half,
.one_third,
.one_fourth,
.one_fifth,
.two_third,
.three_fourth,
.onecol_forty,
.onecol_sixty,
.onecol_thirtyfive,
.one_full_less,
.one_half_less,
.one_third_less,
.one_fourth_less,
.one_fifth_less,
.two_third_less,
.three_fourth_less,
.onecol_forty_less,
.onecol_sixty_less,
.onecol_thirtyfive_less {
	width: 100%;
	margin-bottom: 50px;
}
.last {
	margin-right: 0 !important;
	margin-bottom: 0 !important;
}


.container {
	width: 590px;
	margin: auto;
}

#logo {
	background-position: center top;
}
.menu_main {
	width: 97%;
	position: absolute;
}
.slidermar30 {
	margin-top: 40px;
}

.top_header .left {
	width: 100%;
	padding: 10px 0px 0px 0px;
}
.top_header .right {
	width: 100%;
	padding: 20px 0px 0px 0px;
}

.feature_section4 .content{
	width: 90%;
}

.contact-form {
	width: 100%;
}

.feature_section4 .box1 {
    width: 100%;
    float: left;
}

.feature_section4 .box2 {
    width: 100%;
    float: left;
}

.feature_section9 .box1{
	width:100%;
	padding-bottom:30px;
}
.feature_section9 .box2{
	width:100%;
	padding-bottom:30px;
}
.feature_section9 .box3{
	width:100%;
	padding-bottom:40px;
}
.feature_section9 .box4{
	width:100%;
	padding-bottom:0px;
	text-align: left;
}


.less6 {
	width: 100%;
}



h1 {
	font-size: 30px;
	line-height: 30px;
}
h2 {
	font-size: 23px;
	line-height: 27px;
}
h3 {
	font-size: 18px;
	line-height: 25px;
}
h4 {
	font-size: 16px;
	line-height: 25px;
}
.feature_section1 h1 {
	font-size: 45px;
}
.feature_section1 h2 {
	font-size: 30px;
}
.feature_section4  h1{
	font-size: 45px;
	line-height: 45px;
}


}


@media only screen and (min-width: 480px) and (max-width: 639px){

/* columns */
.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth, .onecol_forty, .onecol_sixty, .onecol_thirtyfive,
.one_half_less, .one_third_less, .one_fourth_less, .two_third_less, .three_fourth_less, .one_fifth_less, .onecol_forty_less, .onecol_sixty_less, .onecol_thirtyfive_less {
	position: relative;
	margin-right: 0%;
	float: left;
}
.one_full,
.one_half,
.one_third,
.one_fourth,
.one_fifth,
.two_third,
.three_fourth,
.onecol_forty,
.onecol_sixty,
.onecol_thirtyfive,
.one_full_less,
.one_half_less,
.one_third_less,
.one_fourth_less,
.one_fifth_less,
.two_third_less,
.three_fourth_less,
.onecol_forty_less,
.onecol_sixty_less,
.onecol_thirtyfive_less {
	width: 100%;
	margin-bottom: 50px;
}
.last {
	margin-right: 0 !important;
	margin-bottom: 0 !important;
}

.container {
	width: 440px;
	margin: auto;
}

#logo {
	background-position: center top;
}
.menu_main {
	width: 97%;
	position: absolute;
}
.slidermar30 {
	margin-top: 40px;
}

.top_header .left {
	width: 100%;
	padding: 10px 0px 0px 0px;
}
.top_header .right {
	width: 100%;
	padding: 20px 0px 0px 0px;
	font-size: 13px;
}
.top_header .right a.email {
	margin: 0px 10px;
	padding: 0px 10px;
	font-size: 12px;
}

.feature_section4 .content{
	width: 100%;
}

.contact-form {
	width: 100%;
}

.feature_section4 .box1 {
    width: 100%;
    float: left;
}

.feature_section4 .box2 {
    width: 100%;
    float: left;
}

.feature_section9 .box1{
	width:100%;
	padding-bottom:30px;
}
.feature_section9 .box2{
	width:100%;
	padding-bottom:30px;
}
.feature_section9 .box3{
	width:100%;
	padding-bottom:40px;
}
.feature_section9 .box4{
	width:100%;
	padding-bottom:0px;
	text-align: left;
}


.less6 {
	width: 100%;
}



h1 {
	font-size: 27px;
	line-height: 27px;
}
h2 {
	font-size: 21px;
	line-height: 25px;
}
h3 {
	font-size: 16px;
	line-height: 25px;
}
h4 {
	font-size: 16px;
	line-height: 25px;
}
.feature_section1 h1 {
	font-size: 35px;
}
.feature_section1 h2 {
	font-size: 25px;
}
.feature_section4  h1{
	font-size: 35px;
	line-height: 35px;
}

}





@media only screen and (max-width: 479px){

/* columns */
.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth, .onecol_forty, .onecol_sixty, .onecol_thirtyfive,
.one_half_less, .one_third_less, .one_fourth_less, .two_third_less, .three_fourth_less, .one_fifth_less, .onecol_forty_less, .onecol_sixty_less, .onecol_thirtyfive_less {
	position: relative;
	margin-right: 0%;
	float: left;
}
.one_full,
.one_half,
.one_third,
.one_fourth,
.one_fifth,
.two_third,
.three_fourth,
.onecol_forty,
.onecol_sixty,
.onecol_thirtyfive,
.one_full_less,
.one_half_less,
.one_third_less,
.one_fourth_less,
.one_fifth_less,
.two_third_less,
.three_fourth_less,
.onecol_forty_less,
.onecol_sixty_less,
.onecol_thirtyfive_less {
	width: 100%;
	margin-bottom: 50px;
}
.last {
	margin-right: 0 !important;
	margin-bottom: 0 !important;
}

.container {
	width: 300px;
	margin: auto;
}

.feature_section1 li{

	width: 300px;
	margin: auto;
}

.feature_section1 li a{

	width: 300px;
	margin: auto;
}


#logo {
	background-position: center top;
}
.menu_main {
	width: 97%;
	position: absolute;
}
.slidermar30 {
	margin-top: 40px;
}

.top_header .left {
	width: 100%;
	padding: 10px 0px 0px 0px;
}
.top_header .right {
	width: 100%;
	padding: 20px 0px 0px 0px;
	font-size: 11px;
}
.top_header .right a.email {
	margin: 0px 5px;
	padding: 0px 5px;
	font-size: 9px;
}
.top_header .right .social i {
	width: 16px;
	height: 16px;
	font-size: 9px;
	line-height: 16px;
	margin-left: 2px;
}

.feature_section4 .content{
	width: 100%;
}

.contact-form {
	width: 100%;
}

.feature_section4 .box1 {
    width: 100%;
    float: left;
}

.feature_section4 .box2 {
    width: 100%;
    float: left;
}

.feature_section8 .box1 {
    width: 100%;
    float: left;
}

.feature_section8 .box2 {
    width: 100%;
    float: left;
}


.feature_section9 .box1{
	width:100%;
	padding-bottom:30px;
}
.feature_section9 .box2{
	width:100%;
	padding-bottom:30px;
}
.feature_section9 .box3{
	width:100%;
	padding-bottom:40px;
}
.feature_section9 .box4{
	width:100%;
	padding-bottom:0px;
	text-align: left;
}


.less6 {
	width: 100%;
}


h1 {
	font-size: 25px;
	line-height: 27px;
}
h2 {
	font-size: 18px;
	line-height: 25px;
}
h3 {
	font-size: 16px;
	line-height: 25px;
}
h4 {
	font-size: 16px;
	line-height: 25px;
}
.feature_section1 h1 {
	font-size: 27px;
}
.feature_section1 h2 {
	font-size: 21px;
}
.feature_section4  h1{
	font-size: 27px;
	line-height: 30px;
}

}
