/*-------------------------------------------------------
[Table of contents]

1. Header
	+ logo
	+ top navigation
	+ search
	
2. Content
	+ feature sections
	+ page title
	+ parallax backgrounds
	+ video backgrounds
	
3. Sidebar
	+ site search
	+ tabs
	+ portfolio widgets
	+ advertisements

3. Typography
	+ lists
	+ buttons
	+ styled boxes
	+ dropcaps
	+ highlight colors
	+ tables
	+ pricing tables
	+ framed boxes
	+ pagination
	
4. Footer
	+ copyrights
	+ google map
	

/*----------------------------------------------------
	SITE MAIN STRUCTURE
------------------------------------------------------*/

.site_wrapper {
	width: 100%;
	margin: 0 auto 0 auto;
}
.container_full {
	width: 100%;
	float: left;
	margin: auto;
}
.container {
	width: 1170px;
	margin: auto;
}
.content_fullwidth {
	float: left;
	width: 100%;
	padding: 90px 0px 90px 0px;
}
.content_fullwidth.less {
	padding: 0px 0px 90px 0px;
}
.content_fullwidth.less2 {
	padding: 75px 0px 90px 0px;
}
.content_fullwidth.less3 {
	padding: 75px 0px 30px 0px;
}
.content_left {
	float: left;
	width: 71%;
	padding: 0px 0px 0px 0px;
}
.left_sidebar {
	float: left;
	width: 25%;
	padding: 0px 0px 0px 0px;
}
.content_right {
	float: right;
	width: 71%;
	padding: 0px 0px 0px 0px;
}
.right_sidebar {
	float: right;
	width: 25%;
	padding: 0px 0px 0px 0px;
}
.content_halfsite {
	float: left;
	width: 47.5%;
	margin-right: 5%;
	padding: 0px 0px 0px 0px;
}
.content_halfsite.last {
	margin-right: 0;
}


/*-------------------*/
/*     columns    */
/*-------------------*/

.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth, .onecol_forty, .onecol_sixty, .onecol_thirtyfive {
	position: relative;
	margin-right: 4%;
	float: left;
}
.one_full {
	width: 100%;
}
.one_half {
	width: 48%;
}
.one_third {
	width: 30.650%;
}
.one_fourth {
	width: 22%;
}
.one_fifth {
	width: 16.800%;
}
.two_third {
	width: 65.350%;
}
.three_fourth {
	width: 74%;
}
.onecol_forty {
	width: 40%;
}
.onecol_sixty {
	width: 56%;
}
.onecol_thirtyfive {
	width: 35%;
}


/*-----------------------------------*/
/*  Less Space Bitween Columns     */
/*-----------------------------------*/

.one_half_less, .one_third_less, .one_fourth_less, .two_third_less, .three_fourth_less, .one_fifth_less, .onecol_forty_less, .onecol_sixty_less, .onecol_thirtyfive_less {
	position: relative;
	margin-right: 2%;
	float: left;
}
.one_full_less {
	width: 100%;
}
.one_half_less {
	width: 49%;
}
.one_third_less {
	width: 32%;
}
.one_fourth_less {
	width: 23.500%;
}
.one_fifth_less {
	width: 18.400%;
}
.two_third_less {
	width: 66%;
}
.three_fourth_less {
	width: 74.500%;
}
.onecol_forty_less {
	width: 40%;
}
.onecol_sixty_less {
	width: 58%;
}
.onecol_thirtyfive_less {
	width: 36.250%;
}
.last {
	margin-right: 0 !important;
}


/*------------------------*/
/*        Header     */
/*------------------------*/

/* Logo */
#logo {
	float:left;
	display:block;
	width:100%;
	min-height: 50px;
	margin-top:5px;
	position: relative;
	text-indent:-999em;
	background:url(../images/logo14.png) no-repeat left top;
}

.logo {
	float: left;
	width: 100%;
	margin-top: 5px;
}

.menu_main_full {
	float: left;
	width: 100%;
	z-index: 9999;
}

.slidermar30 {
	float: left;
	width: 100%;
}

/* top navigations */
.top_header {
	float: left;
	width: 100%;
	height: 90px;
	background: #fff;
}
.top_header .left {
	float: left;
	width: 30%;
	padding: 14px 0px 0px 0px;
}
.top_header .right {
	float: left;
	width: 70%;
	padding: 30px 0px 0px 0px;
	text-align: right;
	font-size: 18px;
	color: #999;
	font-weight: 600;
}
.top_header .right a.email {
	color: #999;
	font-size: 14px;
	margin: 0px 18px;
	padding: 0px 20px;
	white-space: nowrap;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	transition: all 0.3s ease;
}
.top_header .right a.email:hover {
	color: #272727;
}
.top_header .right .social i {
	float: right;
	color: #fff;
	width: 26px;
	height: 26px;
	font-size: 12px;
	line-height: 26px;
	text-align: center;
	background: #aaa;
	border-radius: 100%;
	margin-left: 5px;
	transition: all 0.3s ease;
}
.top_header .right .social i:hover {
	background: #454545;
}


/*----------------------------
   FEATURE SECTIONS
------------------------------*/
/* features_section 1 */
.feature_section1 {
	float: left;
	width: 100%;
	text-align: center;
	padding:84px 0px 32px 0px;	
}
.feature_section1 h1 {
	font-size:58px;
	text-transform:none;
	font-weight:300;
	margin-bottom:20px;
}
.feature_section1 h2 {
	font-size:35px;
	font-weight:300;
	text-transform:none;
}
.feature_section1 .titelbg {
	width: 72%;
	height: 20px;
	border-bottom: 1px solid #e3e3e3;
	margin: 35px auto 50px auto;
}
.feature_section1 .titelbg i {
	color: #fff;
	width: 40px;
	height: 40px;
	background: #862120;
	border-radius: 100%;
	line-height: 38px;
	text-align: center;
	font-size: 18px;
}
.feature_section1 p {
	font: 16px 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 27px;
	margin-bottom:50px;
}

.feature_section1 li {
	font: 16px 'Open Sans', sans-serif;
    font-weight: normal;
    color: #000;
    line-height: 35px;
  text-align: left;
}



.feature_section1 li:before {
    content: "";
    line-height: 30px;
    width: 6px;
    height: 6px;
    background-color: #000;
    float: left;
    margin: 12px 9px 0px 0px;
    border-radius: 50%;
}


/* features_section 2 */
.feature_section2 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 80px 0px 80px 0px;
	background: #f3f3f3;
}

.feature_section2 h1 {
    font-weight: 300;
    margin-bottom: 10px;
}

.feature_section2 p {
    padding-top: 30px;
}

.feature_section2 .one_fourth_less {
	background:#fff;
	padding-bottom:39px;
	float:left;
	position:relative;
}
.feature_section2 .circle i {
	width:64px;
	height:64px;
	text-align:center;
	color:#fff;
	background:#999;
	border-radius:100%;
	line-height:52px;
	font-size:25px;
	display:block;
	margin:-40px auto 14px auto;
	position:relative;
	border: 5px solid #fff;
}

.feature_section2 h3 {
	margin:0;
}


/* features_section 3 */
.feature_section3 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 80px 0px 80px 0px;
}
.feature_section3 h4 {
	color:#862120;
	text-transform:none;
	padding-top:7px;
	font-weight:500;
	padding-bottom:3px;
}
.feature_section3 h1 {
	font-weight:300;
	margin-bottom:10px;
}
.feature_section3 h5 {
	font: 18px 'Open Sans', sans-serif;
	font-weight: normal;
	color:#727272;
	line-height:27px;
	padding-top:8px;
}
.feature_section3 p {
	padding-top:30px;
}


/* features_section 4 */

.feature_section4 .content{
	float: left;
	width: 50%;
}
.feature_section4  h1{
	font-weight:900;
	color:#fff;
	text-align:left;
	font-size:58px;
	line-height:55px;
	text-transform:uppercase;
	margin-bottom:0px;
}
.feature_section4  h2{
	color:#fff;
	text-align:left;
	text-transform:uppercase;
	padding-top:8px;
	margin-bottom:0px;
}
.feature_section4  h4{
	color:#fff;
	text-align:left;
	padding-top:18px;
	
}

/* features_section 8 */
.feature_section4 {
	float: left;
	width: 100%;
	padding: 75px 0px 70px 0px;
	text-align: center;
	background-image: url(/images/parallax-loan2.jpg);
	
}
.feature_section4 .contact-form {
	width: 90%;
    display: block;
    margin: 0 auto;
    padding: 15px;
    background-color: #dcb443;
}
.feature_section4 .box1 {
	width:49%;
	float:left;
}
.feature_section4 .box2 {
	width:49%;
	float:right;	
}
.feature_section4 .contact-form label {
	float: left;
	width: 100%;
}
.feature_section4 .contact-form .input {
	font-family: 'Raleway', sans-serif;
	color: #000;
	float: left;
	width: 90%;
	text-align: left;
	background: #fff;
	border: 2px solid #eee;
	padding: 8px 10px;
	margin-bottom: 15px;
}

.feature_section4 .contact-form .select {
    font-family: 'Raleway', sans-serif;
    color: #000;
    float: left;
    width: 100%;
    text-align: left;
    background: #fff;
    border: 2px solid #eee;
    padding: 11px 10px;
    margin-bottom: 15px;
}

.feature_section4 .contact-form textarea {
	font-family: 'Raleway', sans-serif;
	color: #000;
	float: left;
	width: 100%;
	height: 100px;
	text-align: left;
	background: #fff;
	border: 2px solid #eee;
	padding: 12px 16px;
}
.feature_section4 .button_send {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	padding: 14px 0px;
	width: 50%;
	background-color: #862120;
	
	transition: all 0.3s ease;

	border: none;
	cursor: pointer;
}
.feature_section4 .button_send:hover {
	color: #fff;
	background-color: #272727;
}


/* features_section 5 */
.feature_section5 {
	float: left;
	width: 100%;
	text-align: center;
	padding:80px 0px 90px 0px;
}
.feature_section5 .box {
	width: 100%;
	float:left;
	border: 2px solid #eeeeee;
	margin-top: -8px;
}
.feature_section5 .boxcon {
	text-align: left;
	width: 100%;
	float:left;
	padding:24px 30px 30px 30px;
}
.feature_section5 .conbtm {
	text-align: left;
	width: 100%;
	float:left;
	background:#f3f3f3;
	padding:13px 0px 0px 30px;
}
.feature_section5  h2 {
	margin-bottom:10px;
}
.feature_section5  h4 {
	font-size: 18px;
	font-weight:400;
	color:#e87e04;
	line-height:27px;
	margin-bottom:48px;
}
.feature_section5  h5 {
	font-size: 16px;
	font-weight:500;
	color:#272727;
	margin-bottom:10px;
}
ul.links_small {
	float: left;
	width: 100%;
	float:left;
	display:block;
}
.links_small li.icon {
	float: left;
	padding: 5px 0px 0px 0px;
}
.links_small li.content {
	float: left;
	font-size: 14px;
	color: #272727;
	padding: 5px 10px 0px 0px;
}
.links_small li a {
	font-size: 13px;
	color: #727272;
	padding: 0px 10px 0px 10px;
	text-decoration: none;
}
.links_small li a:hover {
	color: #272727;
}

/* features_section 6 */
.feature_section6 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 104px 0px 85px 0px;
	background: #121212 url(http://placehold.it/1920x340) repeat-y center top;
}


/* features_section 7  */
.feature_section7 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 75px 0px 63px 0px;
	background: #fff;
}
.feature_section7 h6 {
	color: #999;
	font-weight: bold;
	line-height: 18px;
	padding-top: 14px;
	margin-bottom: 0;
}
.feature_section7 h6 em {
	font-family: 'Open Sans', sans-serif;
	color: #999;
	font-size: 12px;
	display: block;
	font-style: normal;
	font-weight:normal;
	text-transform: none;
}
.feature_section7 .cimag img {
	width: 54px;
	height: 54px;
	border-radius: 100%;
	border: 2px solid #fff;
	margin:0 auto;
}


/* features_section 8 */
.feature_section8 {
	float: left;
	width: 100%;
	padding: 75px 0px 70px 0px;
	text-align: center;
	background:#f3f3f3;
}
.contact-form {
	width: 65%;
    display: block;
    margin: 0 auto;
    padding: 25px;
    background-color: #dcb443;
}
.feature_section8 .box1 {
	width:49%;
	float:left;
}
.feature_section8 .box2 {
	width:49%;
	float:right;	
}
.feature_section8 .contact-form label {
	float: left;
	width: 100%;
}
.feature_section8 .contact-form .input {
	font-family: 'Raleway', sans-serif;
	color: #000;
	float: left;
	width: 100%;
	text-align: left;
	background: #fff;
	border: 2px solid #eee;
	padding: 12px 16px;
	margin-bottom: 15px;
}

.feature_section8 .contact-form .select {
    font-family: 'Raleway', sans-serif;
    color: #000;
    float: left;
    width: 100%;
    text-align: left;
    background: #fff;
    border: 2px solid #eee;
    padding: 15px 16px;
    margin-bottom: 15px;
}

.feature_section8 .contact-form textarea {
	font-family: 'Raleway', sans-serif;
	color: #000;
	float: left;
	width: 100%;
	height: 100px;
	text-align: left;
	background: #fff;
	border: 2px solid #eee;
	padding: 12px 16px;
}
.feature_section8 .button_send {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	padding: 16px 0px;
	width: 100%;
	background-color: #862120;
	text-transform: uppercase;
	transition: all 0.3s ease;
	letter-spacing:4px;
	border: none;
	cursor: pointer;
}
.feature_section8 .button_send:hover {
	color: #fff;
	background-color: #272727;
}

/*  featured section 9 */
.feature_section9 {
	float: left;
	width: 100%;
	text-align:center;
	background-color:#181818;
	padding:70px 0px 63px 0px ;
}
.feature_section9 .box1{
	width:22%;
	float:left;
}
.feature_section9 .box2{
	width:22%;
	float:left;	
}
.feature_section9 .box3{
	width:28%;
	float:left;
}
.feature_section9 .box4{
	width:28%;
	float:left;
	color: #fff;
}
.feature_section9 .box4 a {
	color: #fff;
}
.feature_section9 .box4 a:hover {
	color: #454545;
}
.feature_section9 i {
	color: #FFF;
	font-size: 50px;
	margin-right: 14px;
	float:left;
	text-align:left;
}
.feature_section9 h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight:bold;
	color: #fff;
	margin:0 auto;
	letter-spacing:normal;
	display:block;
	text-transform:none;
	padding-top:0px;
	text-align:left;
}
.feature_section9 h4 b {
	font-size: 14px;
	font-weight:normal;
	color: #fff;
	display: block;
}




/* scroll up */
.scrollup{
    width:40px;
    height:40px;
    opacity:1;
    position:fixed;
    bottom:22px;
    right:20px;
    display:none;
    text-indent:-9999px;
    background: url(../images/scroll-top-arrow.png) no-repeat left top;
	z-index: 9001;
}

.checkboxtext{

	font-size: 14px;
	color: #000;
}